<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

  <%# include ../partials/nav.ejs %>

  <body class="outside-bottom-bar-page">
      <!--PRELOADER-->
        <div id="preloader">
        
          <div class="alignment">
              <div class="v-align center-middle"> 
                
                    <!-- LEFT HEART -->
                <div class="heart-animation">                 
                  <i class="de-icon-heart"></i>
                  </div>
                
                  <!-- RIGHT HEART -->
                  <div class="heart-animation-reverse">
                  <i class="de-icon-heart"></i>
                  </div>     
                     
                </div>
            </div>
            
        </div> <!--END of PRELOADER-->
        
            
        <!-- MAIN SLIDER -->
      <section id="main-slider" class="flexslider fullscreen">        
            
            <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
          <div class="slide-title-outter-wrapper">
              
              <!-- MAIN SLIDER TITLE INNER WRAPPER -->
        <div class="slide-title-inner-wrapper">
                                
                    <!-- TITLE 2 -->
          <div class="slide-title align-middle">
                    
                      <div class="container">
                          <div class="row">
                            <div class="col-md-offset-3 col-md-6 animation delay1 fadeInUp">
                  
                                    <div id="invited">
                                      You're Invited
                                    </div>
                                    <div class="banner-text withlove medium light">
                                      <h1>WE ARE GETTING MARRIED</h1>
                                    </div>                                       
                                    <div id="banner-date">
                                      - AUGUST / 6TH / 2016 -
                                    </div>     
                                    
                </div> 
              </div>
            </div>
                        
          </div> 
                                
        </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->
                
      </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->
                         
            <!-- MAIN SLIDER IMAGES -->
            
        <ul class="slides">
          <li>
                  <!-- SLIDE IMAGE -->
                  <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(images/beech.jpg); background-position:bottom center">
                    </div>
                    
                    <!-- SLIDE OVERLAY -->  
                    <div class="slide-overlay" style="opacity:0"> </div> 
                                                      
          </li>
        </ul><!-- END of MAIN SLIDER IMAGES -->
            
            <!-- NAVIGATION -->
            <header id="nav-header">
            <nav id="nav-bar" class="bottom-bar outside fluid-width block-color nav-center sticky-nav animation fadeIn">
              
                  <div id="nav-wrapper">
                
                      <!-- LOGO -->
                  <div class="logo-wrapper">
                      <!-- CSS LOGO --> 
                          <a href="/">
                          <div class="css-logo rounded">
                            <div class="css-logo-text">
                                <strong>C</strong><i class="de-icon-heart-1"></i><strong>J</strong>
                            </div>
                          </div>
                          </a>
                    
                        <!-- IMG LOGO 
                        <div class="img-logo">
                          <img src="images/slide1.jpg">
                        </div>-->
                    </div>
                    <!-- END of LOGO -->
                    
                      <div id="mobile-nav">
                        <i class="de-icon-menu"></i>
                      </div>
                
                    <ul id="nav-menu" class="nav-smooth-scroll">
                      <li class="first-child">
                            <a href="#main-slider">HOME</a>
                          </li>                         
                        <li>
                            <a href="#our-story">STORY</a>
                          </li>
                        <li>
                            <a href="#where-when">WHERE &amp; WHEN</a>
                        </li>
                        <li class="first-child split-margin">
                            <a href="#persons-of-honor">PERSONS OF HONOR</a>
                        </li>
                        <li>
                           <a href="#gallery-section">ACCOMODATIONS</a>
                        </li>
                        <li>
                           <a href="#more-events">ATTRACTIONS</a>
                        </li>
                            
                            <!-- <li>
                              <a href="#bridesmaid-section">BRIDESMAID</a>
                            </li> -->                           
                            <!-- <li>
                              <a href="#rsvp-section">RSVP</a>
                            </li> -->
                          
                    </ul>
                    
                      <div class="clearboth"></div>
                    
                  </div>
                
              </nav>
          </header> <!-- END of NAVIGATION -->
            
    </section><!-- ENF of MAIN SLIDER -->
      
        
        <!--CONTENT SECTION-->
        <section id="content">
          
            <!--COUPLE SECTION-->
            <section id="couple">
              
                <div class="container">
                  <div class="row">
                                            
                        <!-- SECTION CONTENT -->
                      <div class="col-md-6">
                        
                          <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeInLeft">
                                  
                              <!--PHOTO-->
                                <img src="images/courtney-love.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                            
                            </div><!--END of PHOTO-ITEM-->   
                            
                            <div class="his-her-name">
                            <h2 class="text-center">COURTNEY<span class="last-name">-&nbsp;Rodi&nbsp;-</span></h2>                                 
                                <div class="heart-wrapper">
                                  <div class="de-icon circle medium-size custom-heart">
                          <i class="de-icon-heart"></i>
                        </div>
                                </div>
                            </div>                            
                            
                            <p class="blurb animation fadeInLeft text-center">
                            </p>
                            
                        </div>
                        
                        <div class="col-md-6">
                        
                          <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeInRight">
                                  
                              <!--PHOTO-->
                                <img src="images/jaime-aqua.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                          
              
                            </div><!--END of PHOTO-ITEM-->    
                            
                            <div class="his-her-name">
                            <h2 class="text-center">JAIME<span class="last-name">-&nbsp;Panaia&nbsp;-</span></h2>
                            </div>                            
                            
                            <p class="blurb animation fadeInRight text-center">
                              
                            </p>
                            
                        </div>
                    </div>
                </div>
            </section>  
            
            <!-- PHOTO DIVIDER -->
            <section id="photo-divider">
              <div class="image-divider fixed-height" style="background-image:url(images/jp-plus-cr.jpg); height:600px" data-stellar-background-ratio="0.3">
                </div>
            </section>
            
            
            <!-- OUR STORY SECTION -->
            <section id="our-story">
              
                <div class="container">
               
                  <!-- ROW-1 -->
                  <div class="row">
                      
                        <!-- SECTION TITLE -->
                      <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                        
                          <div class="section-title animation fadeInUp">
                            <h2>
                                OUR <img src="images/heart-icon.png" alt=""> STORY
                              </h2>
                            
                              <p>
                                We were inseperable from the start.
                              </p>
                            
                              
                            </div>
                        </div>
                   </div> <!-- END of ROW-1 -->
                   
                   
                   <!-- STORY ROW-1-->
                   <div class="row story-row">      
                        
                        <div class="col-sm-12 col-md-offset-1 col-md-4 text-center">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation delay1 fadeInLeft">
                                  
                              <!--PHOTO-->
                                <img src="images/dads-garage.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
              
                            </div><!--END of PHOTO-ITEM-->
                        </div>
                        
                        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
                          <div class="arrow-left"></div>
                            <div class="story-date">
                              <div class="date-only">07.29</div>
                                <div class="month-year">2014</div>
                           </div>
                           <div class="arrow-right"></div>
                           <div class="clearboth"></div>                          
                        </div>
                        
                        <div class="col-sm-12 col-md-4 animation delay1 fadeInRight">
                          <h3>THE BEGINNING</h3>
                            <p>We first met in Atlanta, GA after exchanging approximately 100 emails, 2,500 text messages and 2 phone calls. Our first date at The Lawrence involved fancy drinks, delicious tapas and belly laughs followed by snuggle-strolling through Piedmont Park.</p>                            
                        </div>    
                        
                        <div class="vertical-line">
                        </div>
                                            
          </div><!-- END of STORY ROW-1 -->
                    
                   <!-- STORY ROW-2-->
                   <div class="row story-row">      
                        
                        <div class="col-sm-12 col-md-4 col-md-push-6 text-center">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation delay1 fadeInLeft">
                                  
                              <!--PHOTO-->
                                <img src="images/portland-sign.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->  
              
                            </div><!--END of PHOTO-ITEM-->
                        </div>
                        
                        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
                          <div class="arrow-left"></div>
                            <div class="story-date">
                              <div class="date-only">09.04</div>
                                <div class="month-year">2014</div>
                           </div>
                           <div class="arrow-right"></div>
                           <div class="clearboth"></div>                          
                        </div>
                        
                        <div class="col-sm-12 col-md-4 col-md-pull-6 animation delay1 fadeInRight">
                          <h3>THE TRAVELS</h3>
                            <p>A pair of travel-loving adventure-seekers we visited Portland, OR (to see a Brandi Carlile show), New Orleans, LA (Jaime's first visit), Asheville, NC (twice) and somewhere snowy in PA. And this was all under a year! It wasn't long before we started contemplating moving to the left coast.</p>                            
                        </div>    
                        
                        <div class="vertical-line">
                        </div>
                                            
          </div><!-- END of STORY ROW-2 -->
                    
                    <!-- STORY ROW-3-->
                   <div class="row story-row">      
                        
                        <div class="col-md-offset-1 col-md-4 text-center">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation delay1 fadeInLeft">
                                  
                              <!--PHOTO-->
                                <img src="images/forest-park.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                            
              
                            </div><!--END of PHOTO-ITEM-->
                        </div>
                        
                        <div class="col-md-2 text-center story-date-wrapper animation fadeIn">
                          <div class="arrow-left"></div>
                            <div class="story-date">
                              <div class="date-only">04.01</div>
                                <div class="month-year">2015</div>
                           </div>
                           <div class="arrow-right"></div>
                           <div class="clearboth"></div>                          
                        </div>
                        
                        <div class="col-md-4 animation delay1 fadeInRight">
                          <h3>THE BIG MOVE</h3>
                            <p>The adventure continued. We sold most of our belongings, stuffed whatever fit a small trailer hitched to the Jeep and drove over 3,000 miles in 6 days to reach our new home: Portland, OR. We fell immediately in love with the easy-breezy lifestyle, eco-friendly attitudes, lush greenery and walk/bikeability.</p>
                            
                        </div>    
                        
                        <div class="vertical-line">
                        </div>
                                            
          </div><!-- END of STORY ROW-3 -->
                    
                   <!-- STORY ROW-4 -->
                   <div class="row story-row">      
                        
                        <div class="col-sm-12 col-md-4 col-md-push-6 text-center">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation delay1 fadeInLeft">
                                  
                              <!--PHOTO-->
                                <img src="images/christmas.jpg" alt="" class="hover-animation image-zoom-in">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                            
              
                            </div><!--END of PHOTO-ITEM-->
                        </div>
                        
                        <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
                          <div class="arrow-left"></div>
                            <div class="story-date">
                              <div class="date-only">12.06</div>
                                <div class="month-year">2015</div>
                           </div>
                           <div class="arrow-right"></div>
                           <div class="clearboth"></div>                          
                        </div>
                        
                        <div class="col-sm-12 col-md-4 col-md-pull-6 animation delay1 fadeInRight">
                          <h3>THE PROPOSAL</h3>
                            <p>Jaime planned to propose on Courtney's birthday in January but decided she couldn't wait. One evening she spontaneously popped the question at an unsuspecting moment. Courtney claims it was only the second time in her life that someone successfully surprised her.</p>                            
                        </div>    
                        
                        <div class="vertical-line">
                        </div>
                                            
          </div><!-- END of STORY ROW-4 -->
                    
                    <div class="row">
                      <div class="col-md-12 text-center">
                          <div id="end-of-story" class="animation fadeInUp">
                            <h2>AND NOW WE'RE GETTING HITCHED.</h2>
                                <div class="heart-divider">
                                      <span class="grey-line"></span>
                                        <i class="de-icon-heart pink-heart"></i>
                                        <i class="de-icon-heart grey-heart"></i>
                                        <span class="grey-line"></span>
                                    </div>
                            </div>
                        </div>
                    </div>
                    
        </div><!-- END of CONTAINER -->
              
            </section>  
            
            <!-- PHOTO DIVIDER -->
            <section id="photo-divider-1">
              <div class="image-divider fixed-height" style="background-image:url(images/cabin.jpg); height:500px" data-stellar-background-ratio="0.3">
                </div>
            </section>     
            
             <!-- WHERE WHEN SECTION -->
            <section id="where-when">
              <div class="container">
               
                  <!-- ROW-1 -->
                  <div class="row">
                      
                        <!-- SECTION TITLE -->
                      <div class="col-md-offset-2 col-md-8 text-center">
                        
                          <div class="section-title animation fadeInUp">
                            <h2>
                                WHERE <span class="and">&amp;</span> WHEN
                              </h2>
                            
                              <p>
                                    We reserved a <a href="https://www.airbnb.com/rooms/3226629" target="_blank">gorgeous cabin</a> with views of the majestic Mt. Hood for our small backyard wedding. We plan to exchange vows, play lawn games, enjoy local cuisine and dance with close friends and family until dark...or until the cows come home. 
                              </p>  
                              <p><b>Please do not wear high heels. It would be really sad if you sank into the grass.</b></p>
                            
                              
                            </div>
                        </div>
                   </div> <!-- END of ROW-1 -->
                   
                   <!-- ROW-2 -->
                  <div class="row">
                      
                        <!-- SECTION TITLE -->
                      <div class="col-md-12 text-center">
                        
                          <div class="banner-text dark full animation fadeIn">
                                  
                                  <div class="row">
                                    <div class="col-md-4">
                                          <h3>AUGUST / 6TH / 2016</h3>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="border-column">
                                            <h3>SIX O'CLOCK IN THE EVENING</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                          <h3>MT HOOD, OR</h3>
                                        </div>
                                      
                                  </div>
                                  
                                      
                            </div>    
                                    
                        </div>
                   </div> <!-- END of ROW-2 -->
                   
                   
                    <!-- ROW-3 -->
                  <div class="row">
                      <div class="col-md-6 animation fadeIn">
                        
                            <div class="de-icon circle small-size inline" style="background-color:#f0394d">
                              <i class="de-icon-glass"></i>
                            </div>
                            <h3 class="inline">COCKTAIL HALF HOUR</h3>
                            <p><b>6:00pm&mdash;6:30pm</b> <br/>Guests arrive, socialize and celebrate the beginning of our special day.</p>
                               
                          <div class="de-icon circle small-size inline" style="background-color:#f6700e">
                              <i class="de-icon-tree"></i>
                            </div>
                            <h3 class="inline">THE HITCHIN' HALF HOUR</h3>
                            <p><b>6:30pm&mdash;7:00pm</b>
                            <br/>Vows and love sealed with a smooch.
                            </p>
                            
              <div class="de-icon circle small-size inline" style="background-color:#0d9a48">
                              <i class="de-icon-food"></i>
                            </div>
                            <h3 class="inline">LOVE PARTY</h3>
                            <p><b>7:00pm&mdash;10:00pm</b><br/>
                             Food, drinks, music and dancing. 
                            </p>
                                                       
                                                       
                        </div>
                        
                        
                        <div class="col-md-6 animation fadeIn">
                          <div id="map-canvas" style="border:15px solid #FFF; margin-top:20px;"></div>
                        </div>
                    
                    </div> <!-- END of ROW-3 -->
                   
                   
                   
              </div>
            </section>

             <!-- PHOTO DIVIDER -->
            <section id="photo-divider-2">
              <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:450px" data-stellar-background-ratio="0.3">
                </div>
            </section>
            
            <!-- PERSONS OF HONOR SECTION -->
            <section id="persons-of-honor">
              
                <div class="container">
               
                  <!-- ROW-1 -->
                  <div class="row">
                      
                        <!-- SECTION TITLE -->
                      <div class="col-md-offset-2 col-md-8 text-center">
                        
                          <div class="section-title animation fadeInUp">
                            <h2>
                                PERSONS OF HONOR
                              </h2>
                            
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae 
                              </p>
                            
                              
                            </div>
                        </div>
                   </div> <!-- END of ROW-1 -->
                   
                   
                   <!-- ROW-2 -->
                   <div class="row">
                      
                        <!--GROOMSMEN-1-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                             
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">CASA DIABLO DANCER</a></h3>
                                <p>Laura Powars</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-1-->
                        
                        
                        
                        <!--GROOMSMEN-2-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                              
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">FRIEND OF COURTNEY</a></h3>
                                <p>Cara Pierce</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-2-->
                        
                        
                        
                         <!--GROOMSMEN-3-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                                 
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">FRIEND OF COURTNEY</a></h3>
                                <p>Melissa Bundy</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-1-->
                        
                        
                         <!--GROOMSMEN-4-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                                 
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">FLOWER GIRL</a></h3>
                                <p>Meliza Barillo</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-4-->
                        
                        
                        
                         <!--GROOMSMEN-5-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                                  
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">OFFICIANT</a></h3>
                                <p>Jason Pierce</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-5-->
                        
                        
                        
                        <!--GROOMSMEN-6-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">SUPER AWESOME FATHER</a></h3>
                                <p>Jim Panaia</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-6-->
                   
                   </div>                     
                   <!-- END of ROW-2 -->

                   <!-- ROW-3 -->
                   <div class="row">
                      
                        <!--GROOMSMEN-1-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                                 
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">MOM</a></h3>
                                <p>Denise Panaia</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-1-->
                        
                        
                        
                        <!--GROOMSMEN-2-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                                
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">DADDY-O</a></h3>
                                <p>Richard Knopf</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-2-->
                        
                        
                        
                         <!--GROOMSMEN-3-->
                        <div class="col-md-4">
                          
                            <!--GROOMSMEN-ITEM-->
                            <div class="groomsmen-item">
                            
                              <!--PHOTO-ITEM-->
                            <div class="photo-item frame-border animation fadeIn">
                                  
                                <!--PHOTO-->
                                  <img src="http://placehold.it/293x325" alt="" class="hover-animation image-zoom-rotate">
                                            
                                  <!--PHOTO OVERLAY-->
                                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                </div><!--END of PHOTO OVERLAY-->
                                                                            
                                 
              
                              </div><!--END of PHOTO-ITEM-->   
                            
                              <!-- TITLE & EXCERPT -->
                            <div class="title-excerpt animation fadeIn text-center">
                        
                              <h3 class="no-margin"><a href="#">MOTHER OF THE BRIDE</a></h3>
                                <p>Bernadette Knopf</p>
                            
                            </div><!-- END of TITLE & EXCERPT -->
                                
                            </div><!--END of GROOMSMEN-ITEM-->
                            
                        </div><!--END of GROOMSMEN-1-->
                        
                        
                       
                   </div>                     
                   <!-- END of ROW-3 -->
                
                </div>
            
            </section>
            
          <!--   <section id="attending">
              <div class="image-divider auto-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.3">
                  
                    <div class="divider-overlay"></div>
                    
                    <div class="container">                    
                      <div class="row">
                          <div class="col-md-offset-2 col-md-8 text-center">
                          
                                  
                                <div class="banner-text withlove large light animation fadeInUp">
                                    <h2 class="h1">ARE YOU ATTENDING?</h2>
                                </div>        
                        
                                
                                <div class="text-center animation fadeInUp">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.</p>
                                </div>  
                                
                                <div  class="text-center">
                                  <a href="#rsvp-section" class="smooth-scroll de-button outline medium animation fadeInUp">
                                      RSVP
                                    </a>
                                </div>

                     
                        </div>
                      </div>
                     </div>
                
                </div>
            </section>
            -->
            <!-- GALLERY SECTION -->
            <section id="gallery-section">
              
                <div class="container">
               
                  <!-- ROW-1 -->
                  <div class="row">
                      
                        <!-- SECTION TITLE -->
                      <div class="col-md-offset-2 col-md-8 text-center">
                        
                          <div class="section-title animation fadeInUp">
                            <h2>
                                ACCOMODATIONS <img src="images/house-icon.png" alt="">
                              </h2>
                            
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae 
                              </p>
                            
                              
                            </div>
                        </div>
                   </div> <!-- END of ROW-1 -->
                   
                   
                   <div class="row">     
                                    
                        <!--GALLERY-ITEM-1-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                              
                            </div><!--END of PHOTO-ITEM-->    
                        </div><!--END of GALLERY-ITEM-1-->
                        
                        <!--GALLERY-ITEM-2-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x394" class="magnific-zoom-gallery" title="Attachment-2">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                            
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM-->  
                        </div><!--END of GALLERY-ITEM-2-->
                        
                        <!--GALLERY-ITEM-3-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-3">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                                
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM-->
                        </div><!--END of GALLERY-ITEM-3-->
                        
                        <!--GALLERY-ITEM-4-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-4">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                                
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM-->   
                        </div><!--END of GALLERY-ITEM-4-->
                        
                        <!--GALLERY-ITEM-5-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-5">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                                
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM-->  
                        </div><!--END of GALLERY-ITEM-5-->
                        
                        <!--GALLERY-ITEM-6-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-6">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                                
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM-->
                        </div><!--END of GALLERY-ITEM-6-->
                        
                        <!--GALLERY-ITEM-7-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-7">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                            
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM-->  
                        </div><!--END of GALLERY-ITEM-7-->
                        
                        <!--GALLERY-ITEM-8-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-8">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                                
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM--> 
                        </div><!--END of GALLERY-ITEM-8-->
                        
                        <!--GALLERY-ITEM-9-->
                        <div class="col-md-4">
                            <!--PHOTO-ITEM-->
                          <div class="photo-item frame-border animation fadeIn">
                                  
                              <!--PHOTO-->
                                <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                                            
                                <!--PHOTO OVERLAY-->
                              <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                              </div><!--END of PHOTO OVERLAY-->
                                                                            
                                <!--ICON LINK-->
                                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                    <div class="alignment">
                                      <div class="v-align center-middle">
                                           
                                        <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-9">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                              </div>
                          </a>
                                                
                                        </div>
                                    </div>
                                </div><!--END of ICON LINK-->
              
                            </div><!--END of PHOTO-ITEM-->
                        </div><!--END of GALLERY-ITEM-9-->
                                          
                   </div>
            </div>
          </section>
            
            
            <section id="dont-miss-it">
              <div class="image-divider auto-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.3">
                    
                    <div class="container">                    
                      <div class="row">
                          <div class="col-md-offset-2 col-md-8">                    
                        
                                <h2 id="dont-miss-it-title" class="text-center animation fadeInUp">Don't Miss It!</h2>                               
                                
                                <div class="text-center animation fadeInUp">
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.</p>
                                </div>
                                
                        </div>
                      </div>
                        
                        <div class="row">
                          <div class="col-md-offset-3 col-md-6">                    
                        
                              <div id="date-countdown" class="circle-countdown animation fadeInUp"></div>
                     
                        </div>
                      </div>
                        
                     </div>
                
                </div>
            </section>
            
            <!-- MORE EVENTS SECTION -->
            <section id="more-events">
              
                <div class="container">
               
                  <!-- ROW-1 -->
                  <div class="row">
                      
                        <!-- SECTION TITLE -->
                      <div class="col-md-offset-2 col-md-8 text-center">
                        
                          <div class="section-title animation fadeInUp">
                            <h2>
                                ATTRACTIONS <img src="images/heart-icon.png" alt=""> 
                              </h2>
                            
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae 
                              </p>
                            
                              
                            </div>
                        </div>
                   </div> <!-- END of ROW-1 -->
                   
                   <!-- ROW-2 -->
                   <div class="row">
                      <div class="col-md-12">
                          
                            <!-- EVENTS CAROUSEL -->
                        <div id="events-carousel" class="owl-carousel">
                          
                              <!-- ITEM-1 -->
                          <div class="item">
                                  
                                    <!--PHOTO-ITEM-->
                              <div class="photo-item animation fadeIn">
                                  
                                  <!--PHOTO-->
                                    <img src="http://placehold.it/800x533" alt="" class="hover-animation image-zoom-in">
                                            
                                    <!--PHOTO OVERLAY-->
                                  <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                  </div><!--END of PHOTO OVERLAY-->
                                                                            
                                    <!--ICON LINK-->
                                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                          <div class="v-align center-middle">
                                           
                                            <a href="http://placehold.it/800x533" class="magnific-zoom" title="event-1">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-zoom-in"></i>
                                  </div>
                              </a>
                                                    
                                                <a href="#">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-link"></i>
                                  </div>
                              </a>
                                                
                                            </div>
                                        </div>
                                    </div><!--END of ICON LINK-->
              
                                </div><!--END of PHOTO-ITEM-->
                                    
                                    <!-- TITLE & EXCERPT -->
                              <div class="title-excerpt animation fadeIn">
                        
                                <h3><a href="#">DANCING PARTY</a></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna urna, imperdiet et purus ut, ultricies sollicitudin arcu. Cras placerat, arcu non faucibus suscipit, ex arcu consectetur enim.</p>
                            
                              </div><!-- END of TITLE & EXCERPT -->
                            
                              </div><!--END of ITEM-1-->  
                                
                                <!-- ITEM-2 -->
                          <div class="item">
                                  
                                    <!--PHOTO-ITEM-->
                              <div class="photo-item animation fadeIn">
                                  
                                  <!--PHOTO-->
                                    <img src="http://placehold.it/800x533" alt="" class="hover-animation image-zoom-in">
                                            
                                    <!--PHOTO OVERLAY-->
                                  <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                  </div><!--END of PHOTO OVERLAY-->
                                                                            
                                    <!--ICON LINK-->
                                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                          <div class="v-align center-middle">
                                           
                                            <a href="http://placehold.it/800x533" class="magnific-zoom" title="event-2">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-zoom-in"></i>
                                  </div>
                              </a>
                                                    
                                                <a href="#">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-link"></i>
                                  </div>
                              </a>
                                                
                                            </div>
                                        </div>
                                    </div><!--END of ICON LINK-->
              
                                </div><!--END of PHOTO-ITEM-->
                                    
                                    <!-- TITLE & EXCERPT -->
                              <div class="title-excerpt animation fadeIn">
                        
                                <h3><a href="#">FLOWER AND FLOWER</a></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna urna, imperdiet et purus ut, ultricies sollicitudin arcu. Cras placerat, arcu non faucibus suscipit, ex arcu consectetur enim.</p>
                            
                              </div><!-- END of TITLE & EXCERPT -->
                            
                              </div><!--END of ITEM-2-->
                                
                                <!-- ITEM-3 -->
                          <div class="item">
                                  
                                    <!--PHOTO-ITEM-->
                              <div class="photo-item animation fadeIn">
                                  
                                  <!--PHOTO-->
                                    <img src="http://placehold.it/800x533" alt="" class="hover-animation image-zoom-in">
                                            
                                    <!--PHOTO OVERLAY-->
                                  <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                                  </div><!--END of PHOTO OVERLAY-->
                                                                            
                                    <!--ICON LINK-->
                                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                          <div class="v-align center-middle">
                                           
                                            <a href="http://placehold.it/800x533" class="magnific-zoom" title="event-3">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-zoom-in"></i>
                                  </div>
                              </a>
                                                    
                                                <a href="#">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-link"></i>
                                  </div>
                              </a>
                                                
                                            </div>
                                        </div>
                                    </div><!--END of ICON LINK-->
              
                                </div><!--END of PHOTO-ITEM-->
                                    
                                    <!-- TITLE & EXCERPT -->
                              <div class="title-excerpt animation fadeIn">
                        
                                <h3><a href="#">FOOD TRUCK DINNER</a></h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna urna, imperdiet et purus ut, ultricies sollicitudin arcu. Cras placerat, arcu non faucibus suscipit, ex arcu consectetur enim.</p>
                            
                              </div><!-- END of TITLE & EXCERPT -->
                            
                              </div><!--END of ITEM-3-->   
                            
                          </div><!--END of EVENTS CAROUSEL-->   
                        
                        </div>                        
                   </div><!--END of ROW-2-->   
                </div>
            </section>
            
           
            
            <!-- PHOTO DIVIDER -->
            <section id="photo-divider-3">
              <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:450px" data-stellar-background-ratio="0.3">
                </div>
            </section>
                
                 
            
            <!-- GIFT REGISTRY SECTION -->
            <section id="gift-section">
              
                <div class="container">
               
                  <!-- ROW-1 -->
                  <div class="row">
                      
                        <!-- SECTION TITLE -->
                      <div class="col-md-offset-2 col-md-8 text-center">
                        
                          <div class="section-title animation fadeInUp">
                            <h2>
                                GIFT REGISTRY
                              </h2>
                            
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae 
                              </p>
                            
                              
                            </div>
                        </div>
                   </div> <!-- END of ROW-1 -->
                   
                   <!-- ROW-1 -->
                  <div class="row">
                      <div class="col-md-offset-1 col-md-10 text-center">
                        <div id="registry-logo" class="owl-carousel">
                  <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
                  <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
                              <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
                              <div class="item"> <a href="#"> <img src="http://placehold.it/249x67g" alt=""> </a> </div>
                              <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
                </div>
                        </div>
                    </div>
                   
                </div>
           
            </section>
            
           
            
            
            
            
            
        </section>
        
        <!-- FOOTER SECTION -->
            <footer>
              <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.5" >
                
                  <div class="divider-overlay"></div>
                    
                    <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
                    <div class="alignment"> 
                      <div class="v-align center-middle">                   
                    
                        <div class="container">                    
                          <div class="row">
                              <div class="col-md-12">
                                  
                                        <div class="animation fadeInUp">
                                <div id="thank-you">
                                  <div id="thank">Thank</div>
                                      <div id="you">You</div>
                                </div>
                                        </div>
                        
                                <div class="heart-divider animation delay1 fadeInUp">
                                  <span class="white-line"></span>
                                  <i class="de-icon-heart pink-heart"></i>
                                  <i class="de-icon-heart white-heart"></i>
                                  <span class="white-line"></span>
                                </div>
                                    
                    <div id="footer-couple-name" class="animation delay1 fadeInUp">
                                      COURTNEY & JAIME
                                    </div>
                     
                            </div>
                          </div>
                        </div>
                     
                      </div>
                    </div>
                    
                </div>
            </footer>
           
            
    <!-- jQuery -->
      <script src="js/jquery-1.11.1.min.js"></script>
        <!-- Pace -->
        <script src="js/pace/pace.min.js"></script> 
      <!-- Bootstrap -->
      <script src="js/bootstrap/bootstrap.js"></script>    
        <!-- Modernizr -->
        <script src="js/modernizr/modernizr.js"></script>  
        <!-- Device JS -->
        <script src="js/devicejs/device.js"></script>  
        <!-- TinyNav -->
        <script src="js/tinynav/tinynav.min.js"></script>
        <!-- SmoothScroll -->
        <script src="js/smoothscroll/jquery.smooth-scroll.js"></script>
        <!-- Flexslider -->
        <script src="js/flexslider/jquery.flexslider.js"></script>  
        <!-- Sticky -->
        <script src="js/sticky/jquery.sticky.js"></script>  
        <!-- Waypoint -->
        <script src="js/waypoint/jquery.waypoints.min.js"></script>
        <!-- DoubleTapToGo -->
        <script src="js/jquery-ui-widget/jquery.ui.widget.js"></script>
        <script src="js/jquery-doubletaptogo/jquery.dcd.doubletaptogo.js"></script>
        <!-- Vide -->
        <script src="js/vide/jquery.vide.js"></script>
        <!-- Stellar -->
        <script src="js/stellar/jquery.stellar.js"></script>
        <!-- Masonry -->
        <script src="js/masonry/masonry.pkgd.min.js"></script>
        <!-- Countdown -->
        <script src="js/countdown/jquery.plugin.js"></script>
        <script src="js/countdown/jquery.countdown.js"></script>
        <!-- Magnific Popup -->
        <script src="js/magnific-popup/jquery.magnific-popup.js"></script>
        <!-- Owl Carousel -->
        <script src="js/owlcarousel/owl.carousel.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
        <!-- RSVP 
        <script src="js/rsvp/rsvp.js"></script>-->
        
        <!-- Custom Core Script -->
        <script type="text/javascript" src="js/script.js"></script>        
        <script type="text/javascript" src="js/map-script.js"></script> 
        <!-- Custom Additional Script -->
        <script type="text/javascript" src="js/main-slider-fade.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-75337321-1', 'auto');
          ga('send', 'pageview');
      </script>
        
  </body>
</html>


</body>
</html>
